<div class="sporkify-shop-container" xmlns="http://www.w3.org/1999/html">
  <div class="sporkify-card-container container">
    <app-card
      [listAbbonamenti]="listAbbonamenti"
    ></app-card>
  </div>

  <div class="sporkify-main-box container">
    <div class="sporkify-form">
      <form [formGroup]="userForm" (ngSubmit)="manageSubscription(userForm)">
        <div class="row mb-4">
          <div class="col">
            <div class="form-outline">
              <input type="text" required id="name" class="form-control" formControlName="name" minlength="3" maxlength="20" placeholder="Nome"/>
              <small *ngIf="userForm.invalid && (userForm.dirty || userForm.touched)"
                     class="text-danger">*Campo obbligatorio</small>
            </div>
          </div>
          <div class="col">
            <div class="form-outline">
              <input type="text" required id="surname" class="form-control" formControlName="surname" minlength="2" maxlength="20" placeholder="Cognome"/>
              <small *ngIf="userForm.invalid && (userForm.dirty || userForm.touched)"
                     class="text-danger">*Campo obbligatorio</small>
            </div>
          </div>
        </div>

        <div class="form-outline mb-4">
          <input type="text" required id="cardNumber" class="form-control" formControlName="cardNumber" minlength="19" maxlength="19" placeholder="Numero della Carta"/>
          <small *ngIf="userForm.invalid && (userForm.dirty || userForm.touched)"
                 class="text-danger">*Campo obbligatorio</small>
        </div>

        <div class="form-outline mb-4">
          <input type="text" required id="expiration" class="form-control" formControlName="expiration" placeholder="Data di scadenza"/>
          <small *ngIf="userForm.invalid && (userForm.dirty || userForm.touched)"
                 class="text-danger">*Campo obbligatorio</small>
        </div>

        <div class="form-outline mb-4">
          <input type="number" required id="cardPin" class="form-control" formControlName="cardPin" minlength="3" maxlength="3" placeholder="CVV"/>
          <small *ngIf="userForm.invalid && (userForm.dirty || userForm.touched)"
                 class="text-danger">*Campo obbligatorio</small>
        </div>

        <div class="form-outline mb-4">
          <select id="subscriptionType" required formControlName="subscriptionType">
            <option *ngFor="let abbonamento of listAbbonamenti" [ngValue]="abbonamento.name">
              {{abbonamento.name}}
            </option>
          </select>
          <label class="form-label" for="subscriptionType">Tipo Abbonamento</label>
        </div>

        <div class="form-outline mb-4">
          <select id="subscriptionTime" required rows="4" formControlName="subscriptionTime">
            <option value="1 Mese">1 Mese</option>
            <option value="3 Mesi">3 Mesi</option>
            <option value="6 Mesi">6 Mesi</option>
            <option value="1 Anno">1 Anno</option>
          </select>
          <label class="form-label" for="subscriptionTime">Periodo</label>
        </div>

        <button type="submit" [disabled]="userForm.invalid" class="btn btn-primary btn-block mb-4">Conferma Informazioni</button>
        <small *ngIf="userForm.touched && userForm.invalid || userForm.dirty && userForm.invalid"
               class="text-danger">Compila tutti i campi</small>
      </form>
    </div>


    <div class="sporkify-shop-content" [ngSwitch]="visible">
      <app-summary
        *ngSwitchCase="form"
        [user]="user"
        [userForm]="userForm"
        (userEmitter)="editUser($event)"
        (userEmitter1)="deleteUser($event)"
        (userEmitter2)="confirmUser($event)"
      ></app-summary>
      <app-confirm-message
        *ngSwitchCase="confirm"
      ></app-confirm-message>
      <app-delete-message
        *ngSwitchCase="delete"
      >
      </app-delete-message>
      <app-landing
        *ngSwitchDefault
      ></app-landing>
      <app-modify-info
        *ngSwitchCase="modify"
      ></app-modify-info>
    </div>
  </div>
</div>
