.sporkify-shop-container {
  width: 100%;
  background-color: #1ed760;
}

.sporkify-card-container{

}

.sporkify-main-box {
  width: 100%;
  display: flex;
  margin-top: 3rem;
}

.sporkify-form {
  padding: 2rem;
  background-color: rgb(191, 191, 191);
}

.sporkify-shop-content {
  background-color: rgb(191, 191, 191);
  padding: 2rem;
}
