<div class="sporkify-home container-fluid">
  <section class="general-list p-5">
    <nav class="main-nav">
      <ul>
        <li>in evidenza</li>
        <li>podcast</li>
        <li>classifiche</li>
        <li>generi e mood</li>
        <li>nuove uscite</li>
        <li>scopri</li>
      </ul>
    </nav>

  </section>
  <div class="link-abbonamento">
      <div class="button-abbonamento btn">
          <span>Abbonati!</span>
      </div>
  </div>

  <section class="music-content">
    <div class="music-raw">
      <div class="music-raw-title">
        <h2>Recently played</h2>
      </div>
      <div class="img-music-content top-raw">
        <div class="box">
          <div class="image-box">
            <div class="overlay-box"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/metal_lifting.jpg" alt="metal-image">
          </div>
          <div class="text-box">
            <h4>Heavy Metal</h4>
            <h6>Subtitle</h6>
          </div>
        </div>
        <div class="box">
          <div class="image-box">
            <div class="overlay-box"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/stranger.jpeg" alt="stranger-image">
          </div>
          <div class="text-box">
            <h4>Stranger Things, Vol.1 (a Netflix Original Series Soundtrack)</h4>
            <h6>Kyle Dixon & Michael Stein</h6>
          </div>
        </div>
        <div class="box">
          <div class="image-box">
            <div class="overlay-box"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/aquietplace.jpeg" alt="quiet-image">
          </div>
          <div class="text-box">
            <h4>A quiet place</h4>
            <h6>Subtitle</h6>
          </div>
        </div>
        <div class="box">
          <div class="image-box">
            <div class="overlay-box"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/split.jpeg" alt="split-image">
          </div>
          <div class="text-box">
            <h4>Split</h4>
            <h6>Subtitle</h6>
          </div>
        </div>
        <div class="box">
          <div class="image-box">
            <div class="overlay-box"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/cure.jpeg" alt="cure-image">
          </div>
          <div class="text-box">
            <h4>A cure for wellness</h4>
            <h6>Subtitle</h6>
          </div>
        </div>
        <div class="box">
          <div class="image-box">
            <div class="overlay-box"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/sinister.jpeg" alt="sinister-image">
          </div>
          <div class="text-box">
            <h4>Sinister</h4>
            <h6>Subtitle</h6>
          </div>
        </div>
      </div>
    </div>
    <div class="music-raw">
      <div class="music-raw-title">
        <h2>Creato per Matteo Fabio</h2>
        <h6>Più ascolti, più accurati saranno i suggerimenti</h6>
      </div>
      <div class="img-music-content">
        <div class="box">
          <div class="image-box">
            <div class="overlay-box"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/radar.jpeg" alt="radar-image">
          </div>
          <div class="text-box">
            <h4>Release Radar</h4>
          </div>
        </div>
        <div class="box">
          <div class="image-box">
            <div class="overlay-box"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/mixdaily.jpeg" alt="mix-image">
          </div>
          <div class="text-box">
            <h4>Daily Mix 1</h4>
          </div>
        </div>
      </div>
    </div>

    <div class="music-raw">
      <div class="music-raw-title">
        <h2>Artisti più popolari</h2>
        <h6>Più ascolti, più accurati saranno i suggerimenti</h6>
      </div>
      <div class="img-music-content">
        <div class="box">
          <div class="image-box radius">
            <div class="overlay-box radius"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/youg.jpeg" alt="youg-image">
          </div>
          <div class="text-box">
            <h4>YouG</h4>
          </div>
        </div>
        <div class="box">
          <div class="image-box radius">
            <div class="overlay-box radius"><i class="fa fa-play-circle-o" aria-hidden="true"></i></div>
            <img src="assets/img/einaudi.jpeg" alt="einaudi-image">
          </div>
          <div class="text-box">
            <h4>Piano Songs</h4>
          </div>
        </div>
      </div>
    </div>
   </section>
</div>
